This is using the orginal dataset. 
- Obtained corresponding county
- Dropped columns: country, total charges, churn score, LCTV, churn reason, count, state and lat long.
- formatted column names to lowercase and join words by underscore(_).

In [93]:
from uszipcode import SearchEngine

In [94]:
import pandas as pd

data = pd.read_excel("Telco_customer_churn.xlsx")
data.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [95]:
def get_county_name(zip_code):
    search = SearchEngine()
    zipcode = search.by_zipcode(zip_code)
    if zipcode:
        return zipcode.county
    else:
        return "County not found for this zip code"

# Assuming 'data' is your DataFrame
data['County'] = data['Zip Code'].apply(get_county_name)

In [96]:
data['County'].nunique()

58

In [97]:
data.isna().sum()

list_to_drop = ['Country','Total Charges','Churn Score','CLTV','Churn Reason','Count','State','Lat Long']
data.drop(columns=list_to_drop, inplace=True)

In [98]:
original_columns = data.columns.tolist()

# Convert column names to lowercase and replace spaces with underscores
new_columns = [column.lower().replace(' ', '_') for column in original_columns]

# Update DataFrame with new column names
data.columns = new_columns

In [101]:
data.columns

Index(['customerid', 'city', 'zip_code', 'latitude', 'longitude', 'gender',
       'senior_citizen', 'partner', 'dependents', 'tenure_months',
       'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'churn_label', 'churn_value',
       'county'],
      dtype='object')

In [100]:
data.to_csv('Teleco_with_county.csv', index=False)